.about{
    padding-inline:20px;
    padding-top:125px;
    width:100%;
    background-color:var(--background-pink-color);
display:flex;
flex-direction: column;

&__subtitle{    
font-family: 'Titan One';
font-weight: 400;
font-size: 18px;
line-height: 1.17;
text-align: center;
text-transform: uppercase;
color: var(--text);
margin-bottom:15px;
}

&__title{
font-family: 'Titan One';
font-weight: 400;
font-size: 34px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--red-color);
margin-left:39px;
margin-right: 41px;
margin-bottom: 26px;
}

&__images{
    width:calc(100vw - 40px);
    margin-bottom: 46px;
}
&__description{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.58;
color: #000000;
display:block;
margin-inline: 30px;
margin-bottom: 47px;
}
&__depiction{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.58;
color: var(--secondary-text-color);
display: flex;
flex-direction: column;
gap:17px;
margin-inline:30px;
margin-bottom: 17px;
}

&__button{
background-color: #FFFFFF;
border-radius: 22px;
border:none;
margin-bottom: 39px;
font-family: 'DM Sans';
font-weight: 700;
font-size: 14px;
line-height: 1.29;
display: inline-block;
align-items: center;
text-align: center;
justify-content: center;
gap: 10px;
color: var(--red-color);
margin-left:30px;
margin-right: 74px;
padding-block: 15px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #ECEBEB;
    }
}

&__icon{
    fill:black;
    width:8px;
    height:4px;
    
}}

@media screen and (min-widith:768px){
  about{
    padding-left:39px;
    padding-right:36px;
    padding-top:130px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

   &__subtitle{    
  font-size: 26px;
  line-height: 1.15;
  margin-bottom:16px;
  }

  &__title{
font-size: 48px;
margin-left:172px;
margin-right: 171px;
margin-bottom: 50px;
}
&__images{
    width:calc( (100vw - 75px) / 2);
    margin-bottom: 56px;
    margin-right: 17px;
}
&__description{
font-size: 14px;
line-height: 1.79;
margin-bottom: 47px;
}
&__depiction{
font-size: 14px;
line-height: 1.79;
margin-inline:0px;
margin-bottom: 62px;
}
&__button{
border-radius: 22px;
margin-bottom: 66px;
font-size: 16px;
line-height: 1.3;
color: var(--red-color);
margin-left:357px;
margin-right:164px;
}
  }
}

@media screen and (min-width:1200px) {
  .about{
    padding-left: 112px;
    padding-right: 117px;
    padding-top:125px;

  }
}