.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.5s;
  transition-timing-function: ease-out;
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #d41443;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form {
  padding-top: 40px;

  .form__label {
    position: absolute;
    font-size: 12px;
    top: -18px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #d41443;
  }

  .form__title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #d41443;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__fieldset {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  margin-left: 40px;
  padding-block: 11px;
  margin-block: 28px;

  .form__input {
    border: 0;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    max-width: 370px;
  }
}

.form__fieldset:has(input:focus) {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #ffb8ca;
}

.form__fieldset:has(input:focus) {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffb8ca;
}

.form__text--link {
  color: var(--hoover-color);
}

.form__button--send {
  width: 200px;
  height: 50px;
  background: #ffa5ba;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-left: 125px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }

  .form {
    margin-top: 38px;

    .form__title {
      font-size: 20px;
      line-height: 1.15;
    }
  }

  .form__fieldset {
    width: 448px;

    .form__input {
      width: 370px;
    }
  }
}

.form__button--send {
  margin-left: 164px;
}
