h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.header {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background: var(--menu-color);
  padding-top: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.header {
  @media screen and (min-width: 768px) {
    padding-top: 39px;

    width: 100%;
  }
}

.header {
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.nav {
  display: flex;
}

.nav__link,
.hero__link {
  text-decoration: none;
}

.nav__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 140px;
    margin-left: 110px;
    position: relative;
    z-index: 5;
  }
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: var(--white-color);
}

.nav__icon {
  width: 10px;
  height: 10px;
  fill: #d41443;
  margin-left: 10px;
}

.current.link {
  color: var(--red-color);
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--red-color);
}

.header__wrap {
  display: flex;
}

.nav__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #ecebeb;
    }
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    justify-items: baseline;

    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #ecebeb;
    }
  }
}

.menu-open-btn {
  display: block;
  z-index: 5;
  border: none;
  background-color: transparent;
  margin-left: 60px;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}
