h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.header {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  background: var(--menu-color);
  padding-top: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.header {
  @media screen and (min-width: 768px) {
    padding-top: 39px;

    width: 100%;
  }
}

.header {
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.nav {
  display: flex;
}

.nav__link,
.hero__link {
  text-decoration: none;
}

.nav__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 140px;
    margin-left: 110px;
    position: relative;
    z-index: 5;
  }
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  color: var(--white-color);
}

.nav__icon {
  width: 10px;
  height: 10px;
  fill: #d41443;
  margin-left: 10px;
}

.current.link {
  color: var(--red-color);
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--red-color);
}

.header__wrap {
  display: flex;
}

.nav__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #ecebeb;
    }
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    justify-items: baseline;

    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background: #ecebeb;
    }
  }
}

.menu-open-btn {
  display: block;
  z-index: 5;
  border: none;
  background-color: transparent;
  margin-left: 60px;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}

.hero {
  overflow: hidden;
  background: var(--menu-color);
  height: 550px;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 400px;
  }
  @media screen and (min-width: 1200px) {
    height: 665px;
  }
}
.hero__box {
  position: relative;
  align-items: center;
  max-width: 320px;
  height: 100%;

  .hero__content {
    max-width: 218px;
    position: absolute;
    z-index: 3;
    @media screen and (max-width: 767px) {
      top: 50%;
      transform: translateY(-40%);
    }
    @media screen and (min-width: 768px) {
      top: 25%;
      max-width: 162px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 277px;
    }
  }
  .hero__title {

    font-family: "Titan One", serif;
    color: var(--white-color);

    @media screen and (min-width: 1200px) {
      font-size: 38px;
      line-height: 1.16;
      letter-spacing: 0.04em;
    }
  }

  .hero__title-main {
    color: var(--red-color);
    font-size: 60px;
  }

  .hero-list {
    display: flex;
    margin-top: 19px;
    list-style: none;
    @media screen and (min-width: 768px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 25px;
    }
  }
  .hero-list__item {
    display: block;
    height: 24px;
    margin: 0;
    margin-right: 8px;
    @media screen and (min-width: 1200px) {
      height: 40px;
      margin-right: 15px;
    }
  }

  .hero__button {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.hero__circle {
  position: absolute;
  bottom: 75px;
  right: -20%;
  width: 346px;
  height: 344px;
  background: var(--text);
  border-radius: 50%;
  animation: showRightSmart 3s, pulsation 2s linear 3s infinite;
  @media screen and (min-width: 768px) {
    animation: showRight 3s, pulsation 2s linear 3s infinite;
    width: 324px;
    height: 322px;
    right: 20%;
    bottom: 45px;
  }
  @media screen and (min-width: 1200px) {
    width: 538px;
    height: 538px;
    bottom: 75px;
  }
  @keyframes showRight {
    0% {
      right: -100%;
    }
    100% {
      right: 20%;
    }
  }
  @keyframes showRightSmart {
    0% {
      right: -100%;
    }
    100% {
      right: -20%;
    }
  }
  @keyframes showBottom {
    0% {
      bottom: -100%;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes pulsation {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .hero__pic {
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 2;
    margin-left: auto;
    width: 175px;
    height: 410px;
    animation: showBottom 2s;
    @media screen and (min-width: 768px) {
      & {
        width: 143px;
        height: 336px;
        right: 32%;
      }
    }
    @media screen and (min-width: 1200px) {
      & {
        width: 236px;
        height: 557px;
        right: 35%;
      }
    }
  }
  &:hover {
    background-color: var(--white-color);
  }
}

.hero__milk {
  width: 124px;
  height: 126px;
  position: absolute;
  bottom: 28px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    width: 188px;
    height: 191px;
    bottom: 45px;
    left: 37px;
  }
}
.hero__girl {
  width: 168px;
  height: 133px;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 2;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    width: 293px;
    height: 232px;
    right: 69px;
  }
}
.hero__information {

  position: absolute;
  color: var(--white-color);
  @media screen and (min-width: 1200px) {
    max-width: 200px;
    bottom: 56px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    left: 255px;
  }
}
.hero__bttn {
  border: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  padding: 0;
  margin-top: 20px;
}
.hero .arrow-right {
  width: 6px;
  height: 5px;
  fill: #ECEBEB ;
  @media screen and (min-width: 1200px) {
    width: 8px;
    height: 7px;
  }
}
.presentation-list {
  position: absolute;
  top: 25%;
  right: 44px;
  list-style: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    right: 75px;
  }
}
.presentation-list__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 13px;
  }

  .presentation-list__circle {
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -20px;
  }
  @media screen and (min-width: 1200px) {
    width: 92px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.presentation-list__text {
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: right;
  display: block;
  position: relative;
  z-index: 1;

  .presentation-list__numbers {
    font-size: 46px;
    color: var(--red-color);
    font-family: "Titan One", sans-serif;
  }


  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.03em;
  }
}


