.products__container {
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.products__text {
  color: var(--white-color);
  text-align: center;
  padding: 0 40px 0;
}
.products__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.products__card {
  position: relative;
  bottom: 122px;
}

.card__header {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.17;
  color: var(--menu-color);
}

.products__header {
  display: block;
  color: var(--white-color);
  text-align: center;
  &::after {
    content: '\A...';
    white-space: pre;
  }
}

.products__header-small {
  text-align: center;
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(20.61 / 18);
}

.products__header-big {
  text-align: center;
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(38.93 / 34);
  padding-bottom: 122px;
  // font-family: ;
}

.products__cards {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 130px;
}
.products__arrow {
  padding: 30px 120px 15px 120px;
  align-items: center;
}

.card {
  width: 280px;
  height: 485px;
  border-radius: 24px;
}

.card--pink {
  background-color: var(--menu-color);
}

.card--brown {
  background-color: #f0d1a5;
}

.card--green {
  background-color: #c2e297;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__cards {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .products__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    max-width: 270px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}