:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
}
