:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
  --green-color: #c2e297;
  --orange-color: #f0d1a5;
  --gray-color: #e1e1e1;
}
body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px;
}
