@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

.container-advantages {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-pink-color);
}

@media screen and (max-width: 767px) {
  .container-advantages {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 480px) {
  .container-advantages {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-advantages {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container-advantages {
    width: 1200px;
  }
}
.advantages-icon {
  margin-bottom: 16px;
}

.advantages-list-item-number {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-color);
}

.advantages-list-item-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--text-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .advantages-list {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 60px;
  }
  .advantages-icon {
    margin-bottom: 36px;
  }
  .advantages-list-item-number {
    font-size: 48px;
    line-height: 1.146;
  }
  .advantages-list-item-text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-title {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .advantages-list-item {
    width: calc((100% - 60px) / 3);
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-icon {
    margin-bottom: 40px;
  }
  .advantages-list-item-number {
    font-size: 58px;
    line-height: 1.138;
  }
  .advantages-list-item-text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
.contacts__hidden {
  visibility: hidden;
}
.contacts__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 86px;
  margin-bottom: 32px;
}
.contacts__form {
  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px 43px 20px;
  margin-bottom: 20px;
  background-color: var(--white-color);
}
.contacts__form > .contacts__fieldset {
  border-bottom: 1px solid var(--border-color);
  width: 90%;
  padding-bottom: 25px;
}
.contacts__form > .contacts__fieldset:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.contacts__fieldset {
  border-style: none;
  padding-top: 25px;
  width: 100%;
}
.contacts__label {
  line-height: 1.86;
  width: 100vw;
  color: var(--text-color);
}
.contacts__block {
  padding: 2px 15px 2px 15px;
  margin-left: 9px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 4px;
  color: var(--white-color);
  text-align: center;
  align-content: center;
}
.contacts__cafe {
  background-color: var(--contacts-color-background-cafe);
}
.contacts__food-truck {
  background-color: var(--contacts-color-background-food-truck);
}
.contacts__opening-hours {
  color: var(--text);
  line-height: 1.86;
  margin-bottom: 10px;
  margin-top: 3px;
}
.contacts__locations-btn {
  background-color: var(--red-color);
  border-radius: 22px;
  color: var(--white-color);
  margin-bottom: 10px;
  border-style: none;
  width: 160px;
  height: 44px;
  font-weight: 700;
  line-height: 1.3;
}
.contacts__franchise-btn {
  border-style: none;
  white-space: nowrap;
  color: var(--red-color);
  border-radius: 22px;
  width: 160px;
  height: 44px;
  font-weight: 700;
  line-height: 1.3;
}
.contacts__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contacts__btn {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 380px;
    margin: auto;
  }
  .contacts__locations-btn {
    margin-bottom: 0;
    width: 191px;
  }
  .contacts__franchise-btn {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .contacts__form {
    width: 330px;
    height: 572px;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .contacts__block {
    margin-bottom: 32px;
  }
  .contactsopening-overs {
    margin-bottom: 15px;
  }
  .contacts__btn {
    width: 393px;
  }
  .contacts__locations-btn {
    margin-bottom: 0;
    width: 198px;
  }
  .contacts__franchise-btn {
    width: 180px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.header {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background: var(--menu-color);
  padding-top: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 37px;
    width: 100%;
  }
}

.nav {
  display: flex;
}

.nav__link,
.hero__link {
  text-decoration: none;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 140px;
    margin-left: 110px;
    position: relative;
    z-index: 5;
  }
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white-color);
}

.nav__icon {
  width: 10px;
  height: 10px;
  fill: #d41443;
  margin-left: 10px;
}

.current.link {
  color: var(--red-color);
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--red-color);
}

.header__wrap {
  display: flex;
}

.nav__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__btn:focus,
  .nav__btn:hover {
    background: #ecebeb;
  }
}
@media screen and (min-width: 1200px) {
  .nav__btn {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__btn:focus,
  .nav__btn:hover {
    background: #ecebeb;
  }
}

.menu-open-btn {
  display: block;
  z-index: 5;
  border: none;
  background-color: transparent;
  margin-left: 60px;
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    margin-right: 32px;
  }
}

.footer-section {
  display: flex;
  background: #FFF5F6;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1280px;
  width: 100vw;
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.footer-title-small {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-top: 113px;
  margin-bottom: 17px;
  text-align: left;
  align-items: flex-start;
}

.footer-title-big {
  display: flex;
  justify-content: flex-start;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  color: #D41443;
  letter-spacing: 0.04em;
  text-align: left;
  align-items: flex-start;
}

.footer-infotel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 43px;
}

.footer-socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  fill: white;
  margin-top: 43px;
}

.footer-socialmedia__icon {
  fill: white;
  background-color: #FEA5BB;
  justify-content: space-between;
  border-radius: 50%;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 46px;
}

.footer-contact__link {
  color: #D41443;
  text-align: right;
}

.footer-contact__text {
  color: var(--black);
  text-align: right;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  height: 89px;
  border-top: 100vw;
  border-top: 1px solid #E1E1E1;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 89px;
  padding-top: 22px;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-title-small,
.footer-socialmedia,
.footer-title {
    margin: 0;
  }
  .footer-title {
    margin-left: 20px;
  }
  .footer-title-small {
    font-size: 26px;
    font-weight: 500;
  }
  .footer-infotel {
    margin-right: 20px;
  }
}
.footer-section {
  display: flex;
  background: #FFF5F6;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1280px;
  width: 100vw;
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.footer-title-small {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-top: 113px;
  margin-bottom: 17px;
  text-align: left;
  align-items: flex-start;
}

.footer-title-big {
  display: flex;
  justify-content: flex-start;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  color: #D41443;
  letter-spacing: 0.04em;
  text-align: left;
  align-items: flex-start;
}

.footer-infotel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 43px;
}

.footer-socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  fill: white;
  margin-top: 43px;
}

.footer-socialmedia__icon {
  fill: white;
  background-color: #FEA5BB;
  justify-content: space-between;
  border-radius: 50%;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 46px;
}

.footer-contact__link {
  color: #D41443;
  text-align: right;
}

.footer-contact__text {
  color: var(--black);
  text-align: right;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  height: 89px;
  border-top: 100vw;
  border-top: 1px solid #E1E1E1;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 89px;
  padding-top: 22px;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-title-small,
.footer-socialmedia,
.footer-title {
    margin: 0;
  }
  .footer-title {
    margin-left: 20px;
  }
  .footer-title-small {
    font-size: 26px;
    font-weight: 400;
  }
  .footer-infotel {
    margin-right: 20px;
  }
}
.products__container {
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .products__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    width: 1200px;
  }
}

.products__text {
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
  size: 14px;
  font: DM Sans;
  margin-top: 30px;
  padding: 0 30px 0;
}

.products__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.products__card {
  position: relative;
  bottom: 122px;
}


:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px;
}

.mobile__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 502px;
  background: #e17992;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
  z-index: 5;
}

.mobile__menu-container.is-open {
  transform: translateX(28%);
}

.mobile__button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile__button-icon {
  width: 40px;
  height: 40px;
}

.mobile__menu-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile__menu-list {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 40px;
}
.mobile__menu-list:nth-child(2n) {
  border: 1px solid #e18298;
}

.mobile__contacts-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__btn-mobile {
  margin-top: 60px;
  margin-left: 21px;
  margin-bottom: 19px;
  display: inline-block;
  justify-items: center;
  width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--white-color);
  color: var(--red-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn-mobile:focus,
.nav__btn-mobile:hover {
  background: #ecebeb;
}

.mobile__close-icon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .mobile__menu-container {
    width: 254px;
    height: 1020px;
    transform: translateX(305%);
  }
  .mobile__menu-container.is-open {
    transform: translateX(205%);
  }
  .nav__btn-mobile {
    width: 186px;
    margin-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__menu-container {
    display: none;
  }
} /*# sourceMappingURL=main.css.map */
