@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  padding-inline: 20px;
  padding-top: 125px;
  width: 100%;
  background-color: var(--background-pink-color);
  display: flex;
  flex-direction: column;
}
.about__subtitle {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 15px;
}
.about__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-color);
  margin-left: 39px;
  margin-right: 41px;
  margin-bottom: 26px;
}
.about__images {
  width: calc(100vw - 40px);
  margin-bottom: 46px;
}
.about__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #000000;
  display: block;
  margin-inline: 30px;
  margin-bottom: 47px;
}
.about__depiction {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-inline: 30px;
  margin-bottom: 17px;
}
.about__button {
  background-color: #ffffff;
  border-radius: 22px;
  border: none;
  margin-bottom: 39px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  color: var(--red-color);
  margin-left: 30px;
  margin-right: 74px;
  padding-block: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__button:focus, .about__button:hover {
  background: #ecebeb;
}
.about__icon {
  fill: black;
  width: 8px;
  height: 4px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-left: 39px;
    padding-right: 36px;
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__subtitle {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  .about__title {
    font-size: 48px;
    margin-left: 172px;
    margin-right: 171px;
    margin-bottom: 50px;
  }
  .about__images {
    width: calc((100vw - 75px) / 2);
    margin-bottom: 56px;
    margin-right: 17px;
  }
  .about__description {
    font-size: 14px;
    line-height: 1.79;
    margin-bottom: 47px;
  }
  .about__depiction {
    font-size: 14px;
    line-height: 1.79;
    margin-inline: 0px;
    margin-bottom: 62px;
  }
  .about__button {
    border-radius: 22px;
    margin-bottom: 66px;
    font-size: 16px;
    line-height: 1.3;
    color: var(--red-color);
    margin-left: 357px;
    margin-right: 164px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-left: 112px;
    padding-right: 117px;
    padding-top: 125px;
  }
}
.advantages {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
  background-color: var(--background-pink-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 37px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container-advantages {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 480px) {
  .container-advantages {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container-advantages {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container-advantages {
    width: 1200px;
  }
}
.advantages-icon {
  margin-bottom: 16px;
}

.advantages-list-item-number {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--red-color);
}

.advantages-list-item-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--text-color);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .advantages-list {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 60px;
  }
  .advantages-icon {
    margin-bottom: 36px;
  }
  .advantages-list-item-number {
    font-size: 48px;
    line-height: 1.146;
  }
  .advantages-list-item-text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-title {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .advantages-list-item {
    width: calc((100% - 60px) / 3);
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-icon {
    margin-bottom: 40px;
  }
  .advantages-list-item-number {
    font-size: 58px;
    line-height: 1.138;
  }
  .advantages-list-item-text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
.contacts {
  margin-top: 86px;
  padding-bottom: 113px;
}
.contacts__hidden {
  visibility: hidden;
}
.contacts__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 86px;
  margin-bottom: 32px;
}
.contacts__form {
  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px 43px 20px;
  margin-bottom: 20px;
  background-color: var(--white-color);
}
.contacts__form > .contacts__fieldset {
  border-bottom: 1px solid var(--gray-color);
  width: 90%;
  padding-bottom: 25px;
}
.contacts__form > .contacts__fieldset:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.contacts__fieldset {
  border-style: none;
  padding-top: 25px;
  width: 100%;
}
.contacts__label {
  line-height: 1.86;
  width: 100vw;
  color: var(--text-color);
}
.contacts__block {
  padding: 2px 15px 2px 15px;
  margin-left: 9px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  border-radius: 4px;
  color: var(--white-color);
  text-align: center;
  align-content: center;
}
.contacts__cafe {
  background-color: var(--orange-color);
}
.contacts__food-truck {
  background-color: var(--green-color);
}
.contacts__opening-hours {
  color: var(--text);
  line-height: 1.86;
  margin-bottom: 10px;
  margin-top: 3px;
}
.contacts__locations-btn {
  background-color: var(--red-color);
  border-radius: 22px;
  color: var(--white-color);
  margin-bottom: 10px;
  border-style: none;
  width: 160px;
  height: 44px;
  font-weight: 700;
  line-height: 1.3;
}
.contacts__franchise-btn {
  border-style: none;
  white-space: nowrap;
  color: var(--red-color);
  border-radius: 22px;
  width: 160px;
  height: 44px;
  font-weight: 700;
  line-height: 1.3;
}
.contacts__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contacts {
    margin-top: 125px;
    padding-bottom: 165px;
  }
  .contacts__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 768px;
    margin: auto;
  }
  .contacts__btn {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 380px;
    margin: auto;
  }
  .contacts__locations-btn {
    margin-bottom: 0;
    width: 191px;
  }
  .contacts__franchise-btn {
    width: 174px;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    width: 1200px;
    margin: auto;
  }
  .contacts__form {
    width: 330px;
    height: 572px;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .contacts__block {
    margin-bottom: 32px;
  }
  .contacts__opening-overs {
    margin-bottom: 15px;
  }
  .contacts__btn {
    width: 393px;
  }
  .contacts__locations-btn {
    margin-bottom: 0;
    width: 198px;
  }
  .contacts__franchise-btn {
    width: 180px;
  }
}
.container-slider {
  padding: 0px 20px 0 20px;
  margin-top: 160px;
}
@media screen and (min-width: 768px) {
  .container-slider {
    margin-top: 281px;
  }
}
@media screen and (min-width: 1280px) {
  .container-slider {
    margin-top: 400px;
  }
}

.slider-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.slider-wrapper__personal {
  width: 280px;
  margin-top: 20px;
  padding: 43px 55px 20px 55px;
}
@media screen and (min-width: 480px) {
  .slider-wrapper__personal {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .slider-wrapper__personal {
    width: 620px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-wrapper__personal {
    width: 926px;
  }
}

.slider-wrapper__firstletter {
  margin-bottom: -30px;
  z-index: 10;
}
@media screen and (min-width: 480px) {
  .slider-wrapper__firstletter {
    margin-left: -28px;
    margin-bottom: -32px;
  }
}
@media screen and (min-width: 768px) {
  .slider-wrapper__firstletter {
    margin-left: -28px;
    margin-bottom: -32px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-wrapper__firstletter {
    margin-left: -17px;
    margin-bottom: -38px;
  }
}

.slider-wrapper__personal-text {
  display: flex;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  line-height: 255%;
  background: linear-gradient(to top, #E1E1E1 0% 1%, #FFFFFF 1% 12%, #E1E1E1 12% 13%, #FFFFFF 13% 25%, #E1E1E1 25% 26%, #FFFFFF 26% 37%, #E1E1E1 37% 38%, #FFFFFF 38% 50%, #E1E1E1 50% 51%, #FFFFFF 51% 62%, #E1E1E1 62% 63%, #FFFFFF 63% 75%, #E1E1E1 75% 76%, #FFFFFF 76% 87%, #E1E1E1 87% 88%, #FFFFFF 88%);
  background-position: bottom;
  padding: 0 12px 0 12px;
}
@media screen and (min-width: 480px) {
  .slider-wrapper__personal-text {
    background: linear-gradient(to top, #E1E1E1 0% 1%, #FFFFFF 1% 25%, #E1E1E1 25% 26%, #FFFFFF 26% 50%, #E1E1E1 50% 51%, #FFFFFF 51% 75%, #E1E1E1 75% 76%, #FFFFFF 76%);
  }
}
@media screen and (min-width: 768px) {
  .slider-wrapper__personal-text {
    background: linear-gradient(to top, #E1E1E1 0% 1%, #FFFFFF 1% 35%, #E1E1E1 35% 36%, #FFFFFF 36% 70%, #E1E1E1 70% 71%, #FFFFFF 71%);
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-wrapper__personal-text {
    background: linear-gradient(to top, #E1E1E1 0% 1%, #FFFFFF 1% 50%, #E1E1E1 50% 51%, #FFFFFF 51%);
    font-size: 16px;
  }
}

.slider-wrapper__personal-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  line-height: 186%;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .slider-wrapper__personal-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-wrapper__personal-name {
    font-size: 20px;
  }
}

.slider-wrapper__slider-menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 86px;
  justify-content: center;
}

.gallery {
  display: flex;
  background-color: #FFF5F6;
  height: 187px;
  padding-top: 139px;
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 245px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    height: 307px;
  }
}

.gallery__pictures-reviews {
  display: flex;
  align-items: center;
  margin: auto;
  width: auto;
  height: 122px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .gallery__pictures-reviews {
    height: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__pictures-reviews {
    height: 430px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.header {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  position: relative;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  background: var(--menu-color);
  padding-top: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 39px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
  }
}

.nav {
  display: flex;
}

.nav__link,
.hero__link {
  text-decoration: none;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 140px;
    margin-left: 110px;
    position: relative;
    z-index: 5;
  }
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--white-color);
}

.nav__icon {
  width: 10px;
  height: 10px;
  fill: #d41443;
  margin-left: 10px;
}

.current.link {
  color: var(--red-color);
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--red-color);
}

.header__wrap {
  display: flex;
}

.nav__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__btn:focus, .nav__btn:hover {
    background: #ecebeb;
  }
}
@media screen and (min-width: 1200px) {
  .nav__btn {
    display: inline-block;
    justify-items: baseline;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    background-color: var(--white-color);
    color: var(--red-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__btn:focus, .nav__btn:hover {
    background: #ecebeb;
  }
}

.menu-open-btn {
  display: block;
  z-index: 5;
  border: none;
  background-color: transparent;
  margin-left: 60px;
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    margin-right: 32px;
  }
}

.hero {
  overflow: hidden;
  background: var(--menu-color);
  height: 550px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
  }
}

.hero__box {
  position: relative;
  align-items: center;
  max-width: 320px;
  height: 100%;
}
.hero__box .hero__content {
  max-width: 218px;
  position: absolute;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .hero__box .hero__content {
    top: 50%;
    transform: translateY(-40%);
  }
}
@media screen and (min-width: 768px) {
  .hero__box .hero__content {
    top: 25%;
    max-width: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box .hero__content {
    max-width: 277px;
  }
}
.hero__box .hero__title {
  font-family: "Titan One", serif;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__box .hero__title {
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}
.hero__box .hero__title-main {
  color: var(--red-color);
  font-size: 60px;
}
.hero__box .hero-list {
  display: flex;
  margin-top: 19px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .hero__box .hero-list {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box .hero-list {
    margin-top: 25px;
  }
}
.hero__box .hero-list__item {
  display: block;
  height: 24px;
  margin: 0;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__box .hero-list__item {
    height: 40px;
    margin-right: 15px;
  }
}
.hero__box .hero__button {
  display: inline-block;
  justify-items: baseline;
  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--white-color);
  color: var(--red-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero__box {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__box {
    max-width: 1200px;
  }
}

.hero__circle {
  position: absolute;
  bottom: 75px;
  right: -20%;
  width: 346px;
  height: 344px;
  background: var(--text);
  border-radius: 50%;
  -webkit-animation: showRightSmart 3s, pulsation 2s linear 3s infinite;
          animation: showRightSmart 3s, pulsation 2s linear 3s infinite;
}
@media screen and (min-width: 768px) {
  .hero__circle {
    -webkit-animation: showRight 3s, pulsation 2s linear 3s infinite;
            animation: showRight 3s, pulsation 2s linear 3s infinite;
    width: 324px;
    height: 322px;
    right: 20%;
    bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle {
    width: 538px;
    height: 538px;
    bottom: 75px;
  }
}
@-webkit-keyframes showRight {
  0% {
    right: -100%;
  }
  100% {
    right: 20%;
  }
}
@keyframes showRight {
  0% {
    right: -100%;
  }
  100% {
    right: 20%;
  }
}
@-webkit-keyframes showRightSmart {
  0% {
    right: -100%;
  }
  100% {
    right: -20%;
  }
}
@keyframes showRightSmart {
  0% {
    right: -100%;
  }
  100% {
    right: -20%;
  }
}
@-webkit-keyframes showBottom {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@keyframes showBottom {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes pulsation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.hero__circle .hero__pic {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 2;
  margin-left: auto;
  width: 175px;
  height: 410px;
  -webkit-animation: showBottom 2s;
          animation: showBottom 2s;
}
@media screen and (min-width: 768px) {
  .hero__circle .hero__pic {
    width: 143px;
    height: 336px;
    right: 32%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle .hero__pic {
    width: 236px;
    height: 557px;
    right: 35%;
  }
}
.hero__circle:hover {
  background-color: var(--white-color);
}

.hero__milk {
  width: 124px;
  height: 126px;
  position: absolute;
  bottom: 28px;
}
@media screen and (max-width: 767px) {
  .hero__milk {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__milk {
    width: 188px;
    height: 191px;
    bottom: 45px;
    left: 37px;
  }
}

.hero__girl {
  width: 168px;
  height: 133px;
  position: absolute;
  bottom: 0;
  right: 5%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .hero__girl {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__girl {
    width: 293px;
    height: 232px;
    right: 69px;
  }
}

.hero__information {
  position: absolute;
  color: var(--white-color);
}
@media screen and (min-width: 1200px) {
  .hero__information {
    max-width: 200px;
    bottom: 56px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    left: 255px;
  }
}

.hero__bttn {
  border: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  padding: 0;
  margin-top: 20px;
}

.hero .arrow-right {
  width: 6px;
  height: 5px;
  fill: #ECEBEB;
}
@media screen and (min-width: 1200px) {
  .hero .arrow-right {
    width: 8px;
    height: 7px;
  }
}

.presentation-list {
  position: absolute;
  top: 25%;
  right: 44px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .presentation-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .presentation-list {
    right: 75px;
  }
}

.presentation-list__item {
  position: relative;
}
.presentation-list__item:not(:last-child) {
  margin-bottom: 13px;
}
.presentation-list__item .presentation-list__circle {
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -20px;
}
@media screen and (min-width: 1200px) {
  .presentation-list__item {
    width: 92px;
  }
  .presentation-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.presentation-list__text {
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: right;
  display: block;
  position: relative;
  z-index: 1;
}
.presentation-list__text .presentation-list__numbers {
  font-size: 46px;
  color: var(--red-color);
  font-family: "Titan One", sans-serif;
}
@media screen and (min-width: 1200px) {
  .presentation-list__text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.03em;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  background: var(--background-pink-color);
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1280px;
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.footer-title-small {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 17px;
  text-align: left;
  align-items: flex-start;
}

.footer-title-big {
  display: flex;
  justify-content: flex-start;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--red-color);
  letter-spacing: 0.04em;
  text-align: left;
  align-items: flex-start;
}

.footer-infotel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 43px;
}

.footer-socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  fill: var(--white-color);
  margin-top: 43px;
}

.footer-socialmedia__icon {
  fill: var(--white-color);
  background-color: var(--pink-lazy);
  justify-content: space-between;
  border-radius: 50%;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 46px;
}

.footer-contact__link {
  color: var(--red-color);
  text-align: right;
}

.footer-contact__text {
  color: var(--text-color);
  text-align: right;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  height: 89px;
  border-top: 1px solid var(--gray-color);
  margin: 0;
  bottom: 0;
  width: 100%;
  padding-top: 22px;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-title-small,
.footer-socialmedia,
.footer-title {
    margin: 0;
  }
  .footer-title {
    margin-left: 20px;
  }
  .footer-title-small {
    font-size: 26px;
    font-weight: 500;
  }
  .footer-infotel {
    margin-right: 20px;
  }
}
.footer-section {
  display: flex;
  background: var(--background-pink-color);
  margin: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1280px;
  width: 100vw;
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  width: 234px;
}

.footer-title-small {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--text);
  margin-top: 113px;
  margin-bottom: 17px;
  text-align: left;
  align-items: flex-start;
}

.footer-title-big {
  display: flex;
  justify-content: flex-start;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--red-color);
  letter-spacing: 0.04em;
  text-align: left;
  align-items: flex-start;
}

.footer-infotel {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 43px;
}

.footer-socialmedia {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  fill: var(--white-color);
  margin-top: 43px;
}
.footer-socialmedia__link {
  display: flex;
  border-radius: 50%;
  fill: var(--white-color);
  justify-content: center;
}
.footer-socialmedia:hover, .footer-socialmedia:focus {
  background-color: var(--red-color);
}

.footer-socialmedia__icon {
  fill: var(--white-color);
  background-color: var(--pink-lazy);
  justify-content: space-between;
  border-radius: 50%;
}
.footer-socialmedia__icon:hover, .footer-socialmedia__icon:focus {
  background-color: var(--red-color);
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 46px;
}

.footer-contact__link {
  color: var(--red-color);
  text-align: right;
}

.footer-contact__text {
  color: var(--black);
  text-align: right;
}

.footer-end {
  display: flex;
  flex-wrap: wrap;
  height: 89px;
  border-top: 1px solid var(--gray-color);
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 89px;
  margin-bottom: 25px;
}

.footer-end__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 150px;
  color: var(--secondary-text-color);
  padding-top: 22px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  .footer-title-small, .footer-title-big, .footer-socialmedia__link,
.footer-socialmedia,
.footer-title, .footer-contact,
.footer-infotel {
    margin: 0;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    margin-top: 165px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-title {
    display: flex;
    margin-bottom: 91px;
  }
  .footer-title-small {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    min-width: 340px;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .footer-infotel {
    margin-right: 20px;
    margin-bottom: 43px;
  }
  .footer-contact {
    font-size: 14px;
    font-weight: 700;
    color: var(--black);
  }
  .footer-end {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-end__text {
    width: 100vw;
    display: flex;
    min-width: 276px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section {
    display: flex;
    margin: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    display: flex;
    width: 1280px;
    margin: 0;
  }
  .footer-title-small, .footer-title-big, .footer-socialmedia__link,
.footer-socialmedia,
.footer-title,
.footer-infotel {
    margin: 0;
  }
  .footer-top {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin: 165px 20px 97px 20px;
  }
  .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 490px;
  }
  .footer-title-small {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 34px;
  }
  .footer-title-big {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 58px;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
  .footer-infotel {
    align-items: flex-end;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 700;
  }
  .footer-contact {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    font-weight: 700;
  }
  .footer-end {
    height: 45px;
  }
  .footer-end__text {
    display: flex;
    min-width: 276px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}
.products__section {
  padding: 98px 0;
}
@media screen and (min-width: 768px) {
  .products__section {
    padding: 112px 0;
  }
}
@media screen and (min-width: 1200px) {
  .products__section {
    padding: 119px 0;
  }
}

.products__container {
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .products__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    width: 1200px;
  }
}

.products__label {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-family: Titan One;
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
}

.products__title {
  text-align: center;
  margin: 15px auto 151px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145;
  font-family: Titan One;
  text-transform: uppercase;
  color: var(--red-color);
}

.products__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 130px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.products__list-item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
}

.products__list-item--pink {
  background-color: var(--menu-color);
}

.products__list-item--brown {
  background-color: var(--orange-color);
}

.products__list-item--green {
  background-color: var(--green-color);
}

.products__card {
  width: 100%;
  position: relative;
  display: block;
  bottom: 140px;
}

.products__header {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.145;
  font-family: Titan One;
  color: var(--white-color);
  text-align: center;
}
.products__header::after {
  display: block;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 139 32'%3E%3Cpath fill='%23fff' style='fill: var(--color1, %23fff)' d='M85.333 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z'%3E%3C/path%3E%3Cpath fill='%23fff' style='fill: var(--color1, %23fff)' d='M32 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z'%3E%3C/path%3E%3Cpath fill='%23fff' style='fill: var(--color1, %23fff)' d='M138.667 16c0 8.837-7.163 16-16 16s-16-7.163-16-16c0-8.837 7.163-16 16-16s16 7.163 16 16z'%3E%3C/path%3E%3C/svg%3E");
  width: 26px;
  height: 6px;
  background-size: contain;
  margin: 30px auto;
}
.products__header::before {
  display: grid;
  content: "";
  width: 249px;
  height: 252px;
  align-content: center;
  background-size: contain;
  margin: 0 auto 22px;
}

.products__header--pink::before {
  background-image: url("./../images/ice_cream.png");
}

.products__header--brown::before {
  background-image: url("./../images/ice_coffee.png");
}

.products__header--green::before {
  background-image: url("./../images/milkshakes.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__header--pink::before {
    background-image: url("./../images/ice_cream@2x.png");
  }
  .products__header--brown::before {
    background-image: url("./../images/ice_coffee@2x.png");
  }
  .products__header--green::before {
    background-image: url("./../images/milkshakes@2x.png");
  }
}
.products__text {
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  font-family: "DM Sans";
  line-height: 1.52;
  margin-top: 30px;
  padding: 0 40px 0;
}

.products__icon {
  padding: 30px 120px 48px;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__label {
    display: block;
    font-size: 26px;
    line-height: 1.145;
  }
  .products__title {
    font-size: 48px;
    line-height: 1.145;
  }
  .products__list {
    display: flex;
    flex-direction: unset;
    gap: 20px;
  }
  .products__list-item {
    max-width: 220px;
  }
  .products__card {
    width: 100%;
    position: relative;
    display: block;
    bottom: 125px;
  }
  .products__header::before {
    display: grid;
    content: "";
    width: 220px;
    height: 224px;
    margin: 0 auto 30px;
  }
  .products__text {
    line-height: 1.76;
    margin-top: 30px;
    padding: 0 11px 0;
  }
  .products__icon {
    padding: 40px 90px 40px;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    display: block;
    font-size: 30px;
    line-height: 1.145;
  }
  .products__title {
    margin: 15px auto 259px;
    font-size: 58px;
    line-height: 1.1484482759;
  }
  .products__list {
    display: flex;
    flex-direction: row;
    gap: 27px;
  }
  .products__list-item {
    width: 329px;
    height: 525px;
  }
  .products__card {
    width: 100%;
    position: relative;
    display: block;
    bottom: 230px;
  }
  .products__header {
    display: block;
    padding-top: 30px;
    font-size: 30px;
    line-height: 1.145;
  }
  .products__header::before {
    display: grid;
    content: "";
    width: 337px;
    height: 335px;
    margin: 0 auto 38px;
  }
  .products__text {
    font-size: 16px;
    font-family: "DM Sans";
    line-height: 1.76;
    margin-top: 25px;
    padding: 0 45px 0;
  }
  .products__icon {
    display: block;
    padding: 30px 145px 50px;
    align-items: center;
  }
}
:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
  --green-color: #c2e297;
  --orange-color: #f0d1a5;
  --gray-color: #e1e1e1;
  --pink-lazy: #FEA5BB;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px;
}

.mobile__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 502px;
  background: #e17992;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(101vw);
  transition: transform 250ms ease-in-out;
  z-index: 5;
}

.mobile__menu-container.is-open {
  transform: translateX(calc(101vw - 250px));
}

.mobile__button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile__button-icon {
  width: 40px;
  height: 40px;
}

.mobile__menu-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile__menu-list {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 40px;
}
.mobile__menu-list:nth-child(2n) {
  border: 1px solid #e18298;
}

.mobile__contacts-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__btn-mobile {
  margin-top: 60px;
  margin-left: 21px;
  margin-bottom: 19px;
  display: inline-block;
  justify-items: center;
  width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--white-color);
  color: var(--red-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__btn-mobile:focus, .nav__btn-mobile:hover {
  background: #ecebeb;
}

.mobile__close-icon {
  width: 14px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .mobile__menu-container {
    width: 254px;
    height: 1020px;
    transform: translateX(101vw);
  }
  .mobile__menu-container.is-open {
    transform: translateX(calc(101vw - 254px));
  }
  .nav__btn-mobile {
    width: 186px;
    margin-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__menu-container {
    display: none;
  }
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.5s;
  transition-timing-function: ease-out;
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 450px;
  min-height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #d41443;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form {
  padding-top: 40px;
}
.form .form__label {
  position: absolute;
  font-size: 12px;
  top: -18px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #d41443;
}
.form .form__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d41443;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.form__fieldset {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  margin-left: 40px;
  padding-block: 11px;
  margin-block: 28px;
}
.form__fieldset .form__input {
  border: 0;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  max-width: 370px;
}

.form__fieldset:has(input:focus) {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #ffb8ca;
}

.form__fieldset:has(input:focus) {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffb8ca;
}

.form__text--link {
  color: var(--hoover-color);
}

.form__button--send {
  width: 200px;
  height: 50px;
  background: #ffa5ba;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-left: 125px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: white;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .form {
    margin-top: 38px;
  }
  .form .form__title {
    font-size: 20px;
    line-height: 1.15;
  }
  .form__fieldset {
    width: 448px;
  }
  .form__fieldset .form__input {
    width: 370px;
  }
}
.form__button--send {
  margin-left: 164px;
}/*# sourceMappingURL=main.css.map */