@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style-type: none;
}

.products__text {
  color: var(--white-color);
  text-align: center;
  padding: 0 40px 0;
}

.products__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__card {
  position: relative;
  bottom: 122px;
}

.card__header {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.17;
  color: var(--menu-color);
}

.products__header {
  display: block;
  color: var(--white-color);
  text-align: center;
}
.products__header::after {
  content: "\a...";
  white-space: pre;
}

.products__header-small {
  text-align: center;
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
}

.products__header-big {
  text-align: center;
  color: #d41443;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145;
  padding-bottom: 122px;
}

.products__cards {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 130px;
}

.products__arrow {
  padding: 30px 120px 15px 120px;
  align-items: center;
}

.card {
  width: 280px;
  height: 485px;
  border-radius: 24px;
}

.card--pink {
  background-color: var(--menu-color);
}

.card--brown {
  background-color: #f0d1a5;
}

.card--green {
  background-color: #c2e297;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__cards {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .products__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    max-width: 270px;
  }
  .card:not(:first-child) {
    margin-left: 30px;
  }
}
:root {
  --pink-color: #ffb8ca;
  --menu-color: #ffb8ca;
  --text: #ffa5ba;
  --text-color: #000000;
  --secondary-text-color: #907e82;
  --white-color: #ffffff;
  --red-color: #d41443;
  --background-pink-color: #fff5f6;
}/*# sourceMappingURL=main.css.map */