<section class="about">
<p class="about__subtitle">tradition and love</p>
<h1 class="about__title">how it's made</h1>
<img class="about__images" src="./images/making/cow-desk.png"
srcset="
./images/making/cow-desk.png 270w,
./images/making/cow-desk@2x.png 540w,
./images/making/cow-tablet.png 354w,
./images/making/cow-tablet@2x.png 708w,
./images/making/cow-mob.png 450w,
./images/making/cow-mob@2x.png 900w"
sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px"
alt="cow with milk"
>
<p class="about__description">Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
   Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
<div class="about__depiction">
   <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. 
    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
    <p>Aliquam erat volutpat. Aenean accumsan.</p></div>

<button class="about__button" type="button">Read more<svg class="about__icon">
   <use href="./images/sprite.svg#icon-arrow-right"></use></svg></button>

    
</section>
