<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__button--close" data-modal-close>
      <svg width="17px" height="17px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form class="form">
      <h3 class="form__title">Leave your details and we'll call you back with an offer!</h3>
      <fieldset class="form__fieldset">
        <label for="name" class="form__label">Name</label>
        <input class="form__input" type="text" name="name" id="name" />
      </fieldset>
      <fieldset class="form__fieldset">
        <label for="tel" class="form__label">Phone number</label>
        <input class="form__input" type="tel" name="tel" id="tel" />
      </fieldset>
      <fieldset class="form__fieldset">
        <label for="e-mail" class="form__label">Email</label>
        <input class="form__input" type="email" name="email" id="e-mail" />
      </fieldset>
      <fieldset class="form__fieldset">
        <label for="text" class="form__label">Delivery adress</label>
        <input class="form__input" type="text" name="text" id="text" />
      </fieldset>

      <button class="form__button--send" type="submit" name="button">Please contact me</button>
    </form>
  </div>
</div>
