<div class="contacts">
  <div class="contacts__hidden"><h1>Contacts</h1></div>
  <div class="contacts__container">
    <form class="contacts__form">
      <p class="contacts__cafe contacts__block">CAFE</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Chicago</label>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </fieldset>
    </form>
    <form class="contacts__form">
      <p class="contacts__food-truck contacts__block">FOOD TRUCK</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Los Angeles</label>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </fieldset>
    </form>
    <form class="contacts__form">
      <p class="contacts__cafe contacts__block">CAFE</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">New York</label>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li>
            <a class="contacts__mailto" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  <div class="contacts__btn">
    <div>
      <a
        href="https://www.google.pl/maps/place/Tr%C3%B3jk%C4%85t+Bermudzki/@25.0000375,-71.0175526,14z/data=!3m1!4b1!4m5!3m4!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71"
        ><button class="contacts__locations-btn" type="submit">Our Locations ></button></a
      >
    </div>
    <div>
      <a
        href="https://www.google.pl/maps/place/Tr%C3%B3jk%C4%85t+Bermudzki/@25.0000375,-71.0175526,14z/data=!3m1!4b1!4m5!3m4!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71"
        ><button class="contacts__franchise-btn" type="submit">Franchise ></button></a
      >
    </div>
  </div>
</div>
