

<section class="container-slider">
       
        <div class="slider-wrapper">
            <img class="slider-wrapper__pictures-personal" src="./images/reviews/testimonials1.png"
    srcset="
    ./images/reviews/testimonials1.png 85w, 
    ./images/reviews/testimonials1@2x.png 190w"

    sizes="(min-width: 1280px) 85px, (max-width: 1280px) 85px, 90vw"

    alt="zdjecie">
    <div class="slider-wrapper__personal">
        <svg class="slider-wrapper__firstletter" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
        </svg>   
    <p class="slider-wrapper__personal-text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
</div>
    <svg class="one__gossip" width="32" height="4">
        <use href="./images/sprite.svg#icon-Group-8"></use>
    </svg>
<p class="slider-wrapper__personal-name">Emily, Los Angeles</p>
    </div>
    <svg class="slider-wrapper__slider-menu" width="72,4" height="12">
        <use href="./images/sprite.svg#icon-hr-dots"></use>
    </svg>
</section>