 <footer class="footer-section frame">
      <div class="footer-container">
        <div class="footer-container-tablet">
        <div class="footer-logo">
          <span class="footer-logo__logo">
            <a class="logo__link footer--web" href="./index.html">Web</a
            ><a class="logo__link footer--studio" href="./index.html">Studio</a></span
          >
          <address>
            <ul class="address">
            
              <li class="address__item">
                <a class="address__link" href="mailto:info@devstudio.com"
                  >info@devstudio.com</a
                >
              </li>
              <li class="address__item">
                <a class="address__link" href="tel:+48111111111"
                  >+48 111 111 111</a
                >
              </li>
            </ul>
          </address>
        </div>
        <div class="footer-join">
          <h4 class="footer-join__header">DOŁĄCZ DO NAS</h4>
          <div class="footer-join__socialmedia">
            <a class="footer-join__socialmedia--link" href="instagram.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-instagram"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="twitter.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-twitter"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="facebook.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-facebook"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="linkedin.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-linkedin2"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
          </div>
        </div>
        </div>
        <div class="footer-newsletter">
            <p class="footer-newsletter__header">ZAPISZ SIĘ DO NEWSLETTERA</p>
              <form class="footer-newsletter-form">
                <label class="footer-newsletter__label">
                  <input class="footer-newsletter__email" type="email" name="email-footer" placeholder="E-mail" required="">
                  <button type="submit" class="footer-newsletter__btn">Zapisz się
                    <svg class="footer-newsletter__icon" width="24" height="24">
                      <use
                        href="./images/icons.svg#icon-icon-send">
                      </use>
                    </svg>
                  </button>
                 
                </label>
            </form>
        </div>
      </div>
    </footer>