 <footer class="footer-section frame">
      <div class="footer-container">
        <div class="footer-title">
          <p class="footer-title-small">HOMEMADE ICE CREAM MADE</p>
          <p class="footer-title-big">WITH PASSION</p>
        </div>
        <div class="footer-socialmedia">
            <a class="footer-socialmedia__link" href="github.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-github"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-socialmedia__link" href="telegram.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-telegram"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-socialmedia__link" href="facebook.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-facebook"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            </div>
            <div class="footer-contact">
              <p class="footer-contact__text">Feel free to contact</p>
               <a class="footer-contact__link" href="+61(0)383766284"
                  >+61(0) 383 766 284</a>
            </div>

            <div class="footer-end">
              <p class="footer-end__text">2019 - IceCream. All Rights Reserved.</p>
            </div>
      </div> 
    </footer>