 <footer class="footer-section frame">
      <div class="footer-container">
        <div class="footer-title">
          <p class="footer-title-small">HOMEMADE ICE CREAM MADE</p>
          <p class="footer-title-big">WITH PASSION</p>
        </div>
        <div class="footer-socialmedia">
            <a class="footer-socialmedia__link" href="github.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-github"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-socialmedia__link" href="telegram.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-telegram"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-socialmedia__link" href="facebook.com">
              <svg class="footer-socialmedia__icon" width="32" height="32">
                <use
                  href="./images/sprite.svg#icon-facebook"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            
            <div class="footer-contact">
              <p class="footer-contact__text">Feel free to contact</p>
               <a class="footer-contact__link" href="+61(0)383766284"
                  >+61(0) 383 766 284</a>
              </div>
         
        </div>
      </div>

        <!-- <div class="footer-join">
          <h4 class="footer-join__header">xxx</h4>
          <div class="footer-join__socialmedia">
            <a class="footer-join__socialmedia--link" href="instagram.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-instagram"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="twitter.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-twitter"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="facebook.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-facebook"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
            <a class="footer-join__socialmedia--link" href="linkedin.com">
              <svg class="footer-join__socialmedia--icon" width="44" height="44">
                <use
                  href="./images/icons.svg#icon-linkedin2"
                  width="20"
                  height="20"
                  x="12"
                  y="12"
                ></use>
              </svg>
            </a>
          </div>
        </div> -->
        <!-- </div>
        <div class="footer-newsletter">
            <p class="footer-newsletter__header">ZAPISZ SIĘ DO NEWSLETTERA</p>
              <form class="footer-newsletter-form">
                <label class="footer-newsletter__label">
                  <input class="footer-newsletter__email" type="email" name="email-footer" placeholder="E-mail" required="">
                  <button type="submit" class="footer-newsletter__btn">Zapisz się
                    <svg class="footer-newsletter__icon" width="24" height="24">
                      <use
                        href="./images/icons.svg#icon-icon-send">
                      </use>
                    </svg>
                  </button>
                 
                </label>
            </form> --> 
      </div>
     
    </footer>