<section class="gallery">
    <img class="gallery__pictures-reviews" src="./images/reviews/desktop-collage.jpg"
    srcset="
    ./images/reviews/desktop-collage.jpg 1280w, 
    ./images/reviews/desktop-collage@2x.jpg 2560w, 
    ./images/reviews/tablet-collage.jpg 786w, 
    ./images/reviews/tablet-collage@2x.jpg 1572w, 
    ./images/reviews/mobile-collage.jpg 364w, 
    ./images/reviews/mobile-collage@2x.jpg 728w"

    sizes="(min-width: 1280px) 1280px, (min-width: 786px) 786px, (min-width: 480px) 480px, 90vw"

    alt="pictures">
</section>
