<!-- start header , logo , button mobile and navigation links-->
<header class="header">

    <div class="container">

        <a href="#" class="header__logo link">
            <img src="./images/logo.png" width="199px" height="50" alt="logo ice cream">
            </img>
        </a>
        <nav class="nav">
            <ul class="list nav__list">
                <li class="nav__item">
                    <a href="" class="current link nav__link">Home</a>
                </li>

                <!-- konieczne dodanie kotwic do sekcji zgodnie z instrukcją "Menu jest zaimplementowane za pomocą linków kotwiczących, które prowadzą do odpowiednich sekcji układu.
"-->
                <li class="nav__item">
                    <a href="#advantages" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">How it’s made?</a>
                </li>
                <li class="nav__item">
                    <a href="#products" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="#contacts" class="nav__link">Contact</a>
                </li>
            </ul>
            <div class="header__wrap">
                <button
          class="menu-toggle js-open-menu menu-open-btn"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
                    <svg class="menu-icon" width="20" height="20">
                        <use href="./images/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
                <button type="button" class="nav__btn" data-modal-open="">
                    Buy now
                    <svg class="nav__icon" width="10" height="10">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </nav>
    </div>

    <section class="section hero">
  <div class="container hero__box">
    <div class="hero__circle"></div>
    <picture>
   
      <source
        srcset="
          ./images/hero/ice.png 1x,
          ./images/hero/ice@2x.png 2x
        "
        media="(min-width:1200px)"
        type="image/png"
      />
      
      <source
        srcset="
          ./images/hero/ice.png 1x,
          ./images/hero/ice@2x.png 2x
        "
        media="(min-width:768px)"
        type="image/png"
      />
     
      <source
        srcset="
          ./images/hero/slider-ice.png 1x,
          ./images/hero/slider-ice@2x.png 2x
           ./images/hero/slider-ice@3x.png 3x
        "
        media="(min-width:480px)"
        type="image/png"
      />
      <img class="hero__pic" src="./images/hero/ice.png" alt="człowiek" />
    </picture>
    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title-main">passion</span>
      </h1>
      <ul class="hero-list">
        <li class="hero-list__item button--red">
          <a href="#products" class="hero-list__link link">Products</a>
        </li>
        <li class="hero-list__item button">
          <a href="#about" class="hero-list__link hero-list__link--right link"
            >How it&#8242;s made&#63;</a
          >
        </li>
      </ul>
    </div>
    <picture>
      
      <source
        srcset="
          ./images/hero/milk.png 1x,
          ./images/hero/milk@2x.png 2x
        "
        media="(min-width:1200px)"
        type="image/png"
      />
      
      <source
        srcset="./images/hero/milk.png 1x, ./images/hero/milk@2x.png 2x"
        media="(min-width:768px)"
        type="image/png"
      />
      <img class="hero__milk" src="./images/hero/milk.png" alt="milk" />
    </picture>
    <picture>
     
      <source
        srcset="
          ./images/hero/girl-ice.png 1x,
          ./images/hero/girl-ice@2x.png 2x
        "
        media="(min-width:1200px)"
        type="image/png"
      />
      
      <source
        srcset="./images/hero/girl-ice.png 1x, ./images/hero/girl-ice@2x.png 2x, ./images/hero/girl-ice@3x.png 3x"
        media="(min-width:768px)"
        type="image/png"
      />
      <img class="hero__girl" src="./images/hero/girl-ice.png" alt="girl" />
    </picture>
    <div class="hero__information">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero__bttn" aria-label="Read More">
        <svg class="arrow-right">
          <use href="./images.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <ul class="presentation-list">
      <li class="presentation-list__item">
        <span class="presentation-list__text">
          <span class="presentation-list__numbers">16</span>
          cafes
        </span>
        <div class="presentation-list__circle"></div>
      </li>
      <li class="presentation-list__item">
        <span class="presentation-list__text">
          <span class="presentation-list__numbers">23</span>
          food trucks
        </span>
        <div class="presentation-list__circle"></div>
      </li>
    </ul>
  </div>
</section>

</header>


<!-- end of header , logo , button mobile and navigation links-->

