<div class="mobile__menu-container js-menu-container" id="mobile-menu">
  <button class="mobile__button js-close-menu">
    <svg class="mobile__close-icon">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div>
    <nav>
      <ul class="mobile__menu-navigation">
        <li>
          <button type="button" class="nav__btn-mobile" data-modal-open="">
            Buy now
            <svg class="nav__icon" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="mobile__menu-list">
          <a href="" class="current link nav__link">Home</a>
        </li>
        <li class="mobile__menu-list">
          <a href="#advantages" class="nav__link">About us</a>
        </li>
        <li class="mobile__menu-list">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="mobile__menu-list">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="mobile__menu-list">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
