      <div class="products__container">
        <div class="products">
          <h3 class="products__header-small">100% NATURAL</h3>
          <h2 class="products__header-big">PRODUCTS</h2>
          <ul class="products__cards list">
            <li class="card card--pink">
              <div class="products__card">
                <img
                  class="products__img"
                  src="./../images/ice_cream.png"
                  srcset="./../images/ice_cream.png 1x, 

./../images/ice_cream@2x.png 2x"
                  alt="strawberry-icecream"
                />
                <h4 class="products__header">ICE CREAM</h4>
                <p class="products__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 

sed do eiusmod tempor
                  incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <div class="products__arrow">
                  <img src="./../images/arrow-right.png" alt="arrow" 

width="40px" height="40px" />
                </div>
              </div>
            </li>
            <li class="card card--brown">
              <div class="products__card">
                <img
                  class="products__img"
                  src="./../images/ice_cream.png"
                  srcset="./../images/ice_coffee.png 1x, 

./../images/ice_coffee@2x.png 2x"
                  alt="strawberry-icecream"
                />
                <h4 class="products__header">ICE COFFEE</h4>
                <p class="products__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 

sed do eiusmod tempor
                  incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <div class="products__arrow">
                  <img src="./../images/arrow-right.png" alt="arrow" 

width="40px" height="40px" />
                </div>
              </div>
            </li>
            <li class="card card--green">
              <div class="products__card">
                <img
                  class="products__img"
                  src="./../images/ice_cream.png"
                  srcset="./../images/milkshakes.png 1x, 

./../images/milkshakes@2x.png 2x"
                  alt="strawberry-icecream"
                />
                <h4 class="products__header">MILKSHAKES</h4>
                <p class="products__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 

sed do eiusmod tempor
                  incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
                <div class="products__arrow">
                  <img src="./../images/arrow-right.png" alt="arrow" 

width="40px" height="40px" />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>