<section class="products__section">
  <div class="products__container">
    <div class="products">
      <label class="products__label" for="products__title">100% NATURAL</label>
      <h2 class="products__title" id="products__title">PRODUCTS</h2>
      <ul class="products__list list">
        <li class="products__list-item products__list-item--pink">
          <div class="products__card">
            <h4 class="products__header products__header--pink">ICE CREAM</h4>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__icon">
              <img src="./images/arrow-right.png" alt="arrow" width="40px" height="40px" />
            </div>
          </div>
        </li>
        <li class="products__list-item products__list-item--brown">
          <div class="products__card">
            <h4 class="products__header products__header--brown">ICE COFFEE</h4>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__icon">
              <img src="./images/arrow-right.png" alt="arrow" width="40px" height="40px" />
            </div>
          </div>
        </li>
        <li class="products__list-item products__list-item--green">
          <div class="products__card">
            <h4 class="products__header products__header--green">MILKSHAKES</h4>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <div class="products__icon">
              <img src="./images/arrow-right.png" alt="arrow" width="40px" height="40px" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
